<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Rhyme_Stash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F9F26B11EAE5C9D009EA9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F9F26C51EAE5C9E009EA9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F9F26D01EAE5C9E009EA9AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
